header {
    color: white;
    text-align: center;
    border: 3px blue;
    border-radius:4px;
    font-size: 64px;
}

h1 {
    color: white;
    text-align: center;
    border: 5px solid green;
    border-radius: 4px;
    font-size: 54px;
}

h2 {
    color: white;
    text-align: center;
    border: 3px solid green;
    border-radius: 4px;
    font-size: 48px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 40px;
}

p {
    color: white;
    text-align: center;
    border: 2px solid purple;
    border-radius: 4px;
    font-size: 32px;
}

ul {
    color: white;
    text-align: left;
    font-size: 32px;
    text-align: center;
}

center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 700px;
    margin-left: 600px;
}
table, th, td {
    border: 1px solid orange;
    color: white;
    font-size: 32px;
    text-align: center;
    margin-left: 5600px;
}

tr:hover {
    background-color:blueviolet;
}

input {
    text-align: center;
    font-size: 32px;
    width: 800px;
    padding: 10px;
    border: 1px solid purple;
    border-radius: 4px;
    margin-left: 500px;
}

button {
    text-align: center;
    font-size: 32px;
    margin-left: 500px;
}

label {
    color: white;
    text-align: center;
    font-size: 32px;
    margin-left: 550px;
}

select {
    text-align: center;
    font-size: 32px;
    border: 1px solid purple;
    border-radius: 4px;
    margin-left: 500px;
}