header {
    color: white;
    text-align: center;
    border: 3px blue;
    font-size: 64px;
}

h1 {
    color: white;
    text-align: center;
    border: 5px solid green;
    font-size: 54px;
}

h2 {
    color: white;
    text-align: center;
    border: 3px solid green;
    font-size: 48px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 40px;
}

p {
    color: white;
    text-align: center;
    border: 2px solid purple;
    font-size: 32px;
}

ul {
    color: white;
    text-align: left;
    font-size: 32px;
}

center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table, th, td {
    border: 1px solid orange;
    color: white;
    font-size: 32px;
}

input {
    text-align: center;
    font-size: 32px;
}

button {
    text-align: center;
    font-size: 32px;
}

label {
    color: white;
    text-align: center;
    font-size: 32px;
}

select {
    text-align: center;
    font-size: 32px;
}